# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Build
build/
dist/
sdist/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg

# Virtualenv
.venv/
venv/
ENV/
env/

# Caches & QA
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
htmlcov/
.cache/
pytestdebug.log

# Django artifacts
staticfiles/
static_root/
media/
document_templates/
generated_documents/

# Logs & backups
logs/
backups/
*.log
*.log.*

# DB dumps & local DB
*.sqlite3
*.db
*.sql
*.dump

# Secrets
.env
.env.*
*.env

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Node (если появится фронт)
node_modules/

# Misc
.python-version
